extends layout

block headerScripts
	script.
		room="#{room}";
		socketPort="#{socketPort}";
		dept="#{dept}";
	script(src='/js/lib/highcharts/highcharts-custom.js')
	script(src='/js/util/dateFormat.js')
	script(src='/js/util/md5-min.js')
	script(src='/js/lecturer.js')
block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-pencil.pad10h
					|UCT QuickPoll (Admin)
	.container
		.row
			.col-xs-12
				#authPanel.panel.panel-primary
					.panel-heading
						h3.panel-title
							|Login
					.panel-body
						.row
							.col-xs-8
								input#password.form-control(type="password",placeholder="Password")
							.col-xs-4
								button.btn.btn-block.btn-primary#btnLogin
									|Login
		.row
			.col-xs-12
				#alertAuthError.alert.alert-danger(role='alert', style='display:none')
					span
						|Authentication error
		if displayDeptErr
			.row
				.col-xs-12
					#alertDeptError.alert.alert-danger(role='alert')
						p 
							|Please note that UCT QuickPoll now supports multiple departments. If you are not part of the UCT Physics department, please see the 
							a(href="/") home page 
							|for details. Your URL should take the form 
						p
							small
								code /lecview/{yourDepartmentName}/{courseCode} 
						p If you have not set up a departmental password, please contact the polling app administrator 
							a(href="mailto:cmrang001@myuct.ac.za?Subject=Request%20for%20departmental%20polling%20password.") (cmrang001@myuct.ac.za). 
						
		.row
			.col-xs-12
				#alertRedirectError.alert.alert-warning(role='alert', style='display:none')
					The UCT QuickPoll domain has changed to polling.uct.ac.za. Please adjust your URL accordingly in future. 
	.container-fluid
		.row
			.col-xs-12.bottom15
				#resultsChart(data-role='content')
	.container
		#createPollRow.row.pad10v(style='display:none')
			.col-xs-4.col-sm-4.col-md-3
				button#btnNewPoll.btn.btn-block.btn-success Create new poll
			.col-xs-4.col-sm-4.col-md-3
				button#btnReAuth.btn.btn-block.btn-warning Re-authenticate
			.col-xs-4.col-sm-4.col-md-3
				button#btnClosePoll.btn.btn-block.btn-danger Close poll
		.row
			.col-xs-12
				#pollPanel.panel.panel-primary(style='display:none')
					.panel-heading
						h3.panel-title Create new poll
					.panel-body
						.row
							.col-xs-12
								input#pollName.form-control(placeholder="Poll Name")
						.row.pad10v
							#sliderLabel.col-xs-12.col-sm-3.col-md-3.col-lg-2
								.control-label Number of options: 
									span#optionVal 4
							.col-xs-12.col-sm-9.col-md-9.col-lg-10
								input#options(data-slider-id='optionsSlider',type="text",data-slider-min="2",data-slider-max="10",data-slider-step="1",data-slider-value="4" data-slider-tooltip="hide" data-slider-handle="square")
						.row
							.col-xs-12.col-md-2.col-sm-6.pad5v
								button#btnAcceptPoll.btn.btn-block.btn-success Create
							.col-xs-12.col-md-2.col-sm-6.pad5v
								button#btnCancelPoll.btn.btn-block.btn-danger Cancel
