﻿extends layout

block headerScripts
	script.
		room="#{room}";
		socketPort="#{socketPort}";
		dept="#{dept}";
	script(src='https://code.highcharts.com/highcharts.js')
	script(src='https://code.highcharts.com/highcharts-more.js')
	script(src='/js/util/dateFormat.js')
	script(src='/js/util/md5-min.js')
	script(src='/js/metrics.js')
block content
	.navbar.navbar-inverse(role = 'navigation')
		.container
			.navbar-header
				.navbar-brand
					span.glyphicon.glyphicon-pencil
					|UCT QuickPoll (Metrics)
	.container
		.row
			.col-xs-12
				#authPanel.panel.panel-primary
					.panel-heading
						h3.panel-title Login
					.panel-body
						.row
							.col-xs-8
								input#password.form-control(type="password",placeholder="Password")
							.col-xs-4
								button#btnLogin.btn.btn-block.btn-primary Login
		.row
			.col-xs-12
				#alertAuthError.alert.alert-danger(role='alert', style='display:none')
					span.glyphicon.glyphicon-remove.pad7h
					span
						|Authentication error
				#alertDBError.alert.alert-danger(role='alert', style='display:none')
					span.glyphicon.glyphicon-remove.pad7h
					span
						|Problem accessing metrics database. Please contact the administrator
	.container
		.row
			.col-xs-12.bottom15
				#deptDistChart(data-role='content')
		.row
			.col-xs-12.bottom15
				#courseDistChart(data-role='content')
		.row
			.col-xs-12.bottom15
				#roomDistChart(data-role='content')
		.row.bottom15
			.col-xs-12.col-sm-6.bottom15
				#lecturePeriodChart(data-role='content')
			.col-xs-12.col-sm-6.bottom15
				#lecturePeriodResponseChart(data-role='content')
		.row.bottom15
			.col-xs-12.col-sm-6.bottom15
				#dayOfWeekChart(data-role='content')
			.col-xs-12.col-sm-6.bottom15
				#dayOfWeekResponseChart(data-role='content')
		.row
			.col-xs-12.col-sm-6.bottom15
				#weekOfYearChart(data-role='content')
			.col-xs-12.col-sm-6.bottom15
				#weekOfYearResponseChart(data-role='content')
		.row
			.col-xs-12.col-sm-6.bottom15
				#monthOfYearChart(data-role='content')
			.col-xs-12.col-sm-6.bottom15
				#monthOfYearResponseChart(data-role='content')
